@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  }

label {
  font-size: .7rem;
}

input.form-control, input.form-control:focus {
  background: #F0F0FF;
}

.error {
  position: absolute;
  color: red;
  font-size: .9rem;
}
/* .form-control{
  margin: -5px;
} */

select{
  width: 100%;
  height: 30px;
  background: #F0F0FF;
}